<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
  </system.data>
  <connectionStrings>
    <add name="appveyor" connectionString="Server=(local)\SQL2012SP1;Database=LhsBracketIntegrationTestsDb;User ID=sa;Password=Password12!" providerName="System.Data.SqlClient"/>
    <add name="default" connectionString="Server=(local);Database=LhsBracketIntegrationTestsDb;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>